// Tipimi - couleurs du logo
$tipimi-primary: #51767d;
$tipimi-orange: #ef7610;
$tipimi-yellow: #f2c310;
$tipimi-cyan: #65b09f;


$white: #FFFFFF;
$black: #000000;
$gray: #D4D9DF;
$gray-100: #F8F9FA;
$gray-900: #667080;
$red: $tipimi-orange;
$blue: $tipimi-primary;
$green: $tipimi-cyan;
$cyan: $tipimi-cyan;
$yellow: $tipimi-yellow;
$orange: $tipimi-orange;
$gray-border: #CED4DA;

$dark: $tipimi-primary;
$light: $gray-100;
$primary: $tipimi-primary;

$heading-color: #152536;
$body-color: #6c757d;

//FONT
$bolder: 600;
$font-weight-bolder: $bolder;

$component-active-bg: $orange;
$component-active-color: $black;
